.p-datascroller .p-datascroller-header {
  background: var(--tg-theme-section-bg-color)/*#1f2937*/;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid var(--tg-theme-hint-color)/*#424b57*/;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 700;
}

.p-datascroller .p-datascroller-content {
    background: var(--tg-theme-section-bg-color)/*#1f2937*/;
    color: rgba(255, 255, 255, 0.87);
    border: 0 none;
    padding: 0;
}

.p-datascroller .p-datascroller-footer {
    background: var(--tg-theme-section-bg-color)/*#1f2937*/;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid var(--tg-theme-hint-color)/*#424b57*/;
    border-width: 0/*0 0 1px 0*/;
    padding: 1rem 1rem;
    font-weight: 700;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#bonds > .p-toggleable-content > .p-panel-content {
  padding: 4px 10px;
}

#lazylist > .p-toggleable-content > .p-panel-content {
  padding: 4px 10px;
}