.profile.p-togglebutton {
  position: relative;
  display: inline-flex;
  user-select: none;
  vertical-align: bottom;
}

.profile.p-togglebutton:focus {
  box-shadow: 0 0 0 0 #000, 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}


div.profile > input.p-togglebutton-input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    outline: 0 none;
    border: 1px solid var(--tg-theme-accent-text-color);
    border-radius: 6px;
}

div.profile > span.p-button-icon {
  color: var(--tg-theme-accent-text-color);
  font-size: 12px;
}

.profile.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 15%;
    height: 2rem;
    width: 2rem;
    background: none;
    border: 0px;
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
}