:root {
  --app-font-size: 15px;
  --app-font-size-2: 17px;
  --app-font-size-header: 20px;
  --app-font-size-subheading: 16px;
  --app-font-weight-content: 400;
  --app-font-weight-header: 600;

  --app-title-font-size: 20px;
  --app-line-height: 24px;
  --app-line-height-2: 26px;

  --app-cursor-pointer: pointer;

  /* theme colors */
  --app-theme-text-color: var(--tg-theme-text-color);
  --app-theme-hint-color: var(--tg-theme-hint-color);
  --app-theme-accent-text-color: var(--tg-theme-accent-text-color);
  --app-theme-secondary-bg-color: var(--tg-theme-secondary-bg-color);
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}


/** app */
.app.font-size {
  font-size: var(--app-font-size);
}

.app.font-size-2 {
  font-size: var(--app-font-size-2);
}

.app.font-size-subheading {
  font-size: var(--app-font-size-subheading);
}

.app.font-size-header {
  font-size: var(--app-font-size-header);
}

.app.font-weight-content {
  font-weight: var(--app-font-weight-content);
}

.app.font-weight-header {
  font-weight: var(--app-font-weight-header);
}

.app.title-font-size {
  font-size: var(--app-title-font-size);
}

.app.title-line-height {
  line-height: var(--app-line-height);
}

.app.line-height {
  line-height: var(--app-line-height);
}

.app.line-height-2 {
  line-height: var(--app-line-height-2);
}

/** 
 * theme colors
 */
.app.theme-text-color {
  color: var(--app-theme-text-color);
}

.app.theme-hint-color {
  color: var(--app-theme-hint-color);
}

.app.theme-accent-text-color {
  color: var(--app-theme-accent-text-color);
}

.app.theme-bg-secondary {
  background: var(--app-theme-secondary-bg-color);
}

.text-2xs {
  font-size: .5rem;
}


.w-2-5rem {
  width: 2.5rem !important;
}

.app.p-0 {
  padding: 0.25rem 0rem !important;
}

.app.p-1 {
  padding: 0.5rem 0rem !important;
}

.app.p-2 {
  padding: 0.75rem 0rem !important;
}

.app.nowrap {
  white-space: nowrap;
}

.app.wrap {
  text-wrap: wrap;
}

.app.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.app.item-border-bottom {
  border-bottom: 1px solid #ffffff1a/*#424b57*/;
}

.app.cursor-pointer {
  cursor: var(--app-cursor-pointer);
}

.btntest.p-disabled {
  background-color: var(--tg-theme-secondary-bg-color)!important;
  border-color: var(--tg-theme-hint-color)!important;
}
.btntest.p-disabled * {
  color: var(--tg-theme-hint-color)!important;
  fill: var(--tg-theme-hint-color)!important;
}